<%= @userdistribname.capitalize %>-x64-<%= scope.lookupvar('env::variant') %>-<%= scope.lookupvar('env::version') %> (Image based on Debian <%= @lsbdistcodename.capitalize %> for AMD64/EM64T)
  Maintained by support-staff <support-staff@lists.grid5000.fr>

Doc: https://www.grid5000.fr/w/Getting_Started#Deploying_nodes_with_Kadeploy

<% case scope.lookupvar('env::variant')
      when "xen" -%>
Note: dom0_mem=4096MB is set on the kernel command line, following the recommendation on
https://wiki.xenproject.org/wiki/Tuning_Xen_for_Performance#Memory
<% end -%>
